################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Portfolio.Api/.vs/Portfolio.Api
*.user
/Portfolio.Api/Portfolio.Api/obj
/Portfolio.Api/obj
/Portfolio.Data/obj
/Portfolio.Crosscutting/obj
/Portfolio.Application/obj
/Portfolio.Api/.vs/ProjectEvaluation
/Portfolio.Domain/obj
/Portfolio.Infrastructure/obj
/Portfolio.Crosscutting/bin/Debug/net6.0
/Portfolio.Application/bin/Debug/net6.0
/Portfolio.Api/bin/Debug/net6.0
/Portfolio.Infrastructure/bin/Debug/net6.0
/Portfolio.Domain/bin/Debug/net6.0
/Portfolio.Data/bin/Debug/net6.0

.DS_Store
/Portfolio.Web/portfolio/node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/
package-lock*

# local env files
/Portfolio.Web/portfolio/.env.local
/Portfolio.Web/portfolio/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.aws/.terraform*
.aws/*.tf*